---
---
<div class="nav-links">
  <a href="/astro_deploy/">Home</a>
  <a href="/astro_deploy/about/">About</a>
  <a href="/astro_deploy/blog/">Blog</a>
  <a href="/astro_deploy/tags/">Tags</a>
</div>
